- name: Github Cli | install Github Cli
  package:
    name: gh
    state: present

- name: Github Cli | copy host.yml file
  template:
    src: "{{playbook_dir}}/templates/gh/hosts.j2"
    dest: "{{playbook_dir}}/files/gh/hosts.yml"

- name: Github Cli | link config file to home folder
  file:
    src: "{{playbook_dir}}/files/gh/hosts.yml"
    path: "{{ ansible_user_dir }}/.config/gh/hosts.yml"
    owner: "{{ default_user }}"
    group: "{{ default_user }}"
    state: link
  when: dry_run is false
