# Global Config

Host *
  StrictHostKeyChecking=no

# Github, Gitlab

Host github
  User git
  Hostnamegithub.com
  IdentityFile {{ansible_user_dir}}/.ssh/git_admin_key

Host gitlab.com
  Hostname gitlab.com
  IdentityFile {{ansible_user_dir}}/.ssh/git_admin_key

# Other Servers
Host *
  IdentityFile {{ansible_user_dir}}/.ssh/ssh_regular_key
